# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\laravel projects\rcs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
